USE [master]
GO
/****** Object:  Database [CasinoPlace]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
CREATE DATABASE [CasinoPlace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CasinoPlace', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CasinoPlace.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CasinoPlace_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CasinoPlace_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CasinoPlace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CasinoPlace]
GO
/****** Object:  Table [dbo].[AVAILABILITY]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVAILABILITY](
	[AV_ID] [int] NOT NULL,
	[AV_DESC] [text] NULL,
 CONSTRAINT [PK_AVAILABILITY] PRIMARY KEY NONCLUSTERED 
(
	[AV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GAME_TYPE]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAME_TYPE](
	[GAME_TYPE_ID] [int] NOT NULL,
	[DESCRIPTION] [text] NULL,
 CONSTRAINT [PK_GAME_TYPE] PRIMARY KEY NONCLUSTERED 
(
	[GAME_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLACE]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLACE](
	[PLACE_ID] [int] NOT NULL,
	[GAME_TYPE_ID] [int] NOT NULL,
	[AV_ID] [int] NOT NULL,
	[PLACE_NUM] [char](5) NOT NULL,
	[SPACES_LEFT] [int] NOT NULL,
	[TIMER] [datetime] NULL,
 CONSTRAINT [PK_PLACE] PRIMARY KEY NONCLUSTERED 
(
	[PLACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[U_ID] [int] IDENTITY(1,1) NOT NULL,
	[FNAME] [nvarchar](30) NOT NULL,
	[LNAME] [nvarchar](30) NOT NULL,
	[U_PHONE] [varchar](30) NULL,
	[U_EMAIL] [varchar](30) NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY NONCLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VISIT]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISIT](
	[VISIT_ID] [bigint] NOT NULL,
	[U_ID] [int] NOT NULL,
	[PLACE_ID] [int] NOT NULL,
	[V_DATE] [date] NOT NULL,
 CONSTRAINT [PK_VISIT] PRIMARY KEY NONCLUSTERED 
(
	[VISIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [GameType_Place_FK]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
CREATE NONCLUSTERED INDEX [GameType_Place_FK] ON [dbo].[PLACE]
(
	[GAME_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Place_Availability_FK]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
CREATE NONCLUSTERED INDEX [Place_Availability_FK] ON [dbo].[PLACE]
(
	[AV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [P_VISIT_FK]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
CREATE NONCLUSTERED INDEX [P_VISIT_FK] ON [dbo].[VISIT]
(
	[PLACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_VISIT_FK]    Script Date: 26.06.2017 г. 11:31:35 ч. ******/
CREATE NONCLUSTERED INDEX [U_VISIT_FK] ON [dbo].[VISIT]
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLACE]  WITH CHECK ADD  CONSTRAINT [FK_PLACE_GAMETYPE__GAME_TYP] FOREIGN KEY([GAME_TYPE_ID])
REFERENCES [dbo].[GAME_TYPE] ([GAME_TYPE_ID])
GO
ALTER TABLE [dbo].[PLACE] CHECK CONSTRAINT [FK_PLACE_GAMETYPE__GAME_TYP]
GO
ALTER TABLE [dbo].[PLACE]  WITH CHECK ADD  CONSTRAINT [FK_PLACE_PLACE_AVA_AVAILABI] FOREIGN KEY([AV_ID])
REFERENCES [dbo].[AVAILABILITY] ([AV_ID])
GO
ALTER TABLE [dbo].[PLACE] CHECK CONSTRAINT [FK_PLACE_PLACE_AVA_AVAILABI]
GO
ALTER TABLE [dbo].[VISIT]  WITH CHECK ADD  CONSTRAINT [FK_VISIT_P_VISIT_PLACE] FOREIGN KEY([PLACE_ID])
REFERENCES [dbo].[PLACE] ([PLACE_ID])
GO
ALTER TABLE [dbo].[VISIT] CHECK CONSTRAINT [FK_VISIT_P_VISIT_PLACE]
GO
ALTER TABLE [dbo].[VISIT]  WITH CHECK ADD  CONSTRAINT [FK_VISIT_U_VISIT_USER] FOREIGN KEY([U_ID])
REFERENCES [dbo].[USER] ([U_ID])
GO
ALTER TABLE [dbo].[VISIT] CHECK CONSTRAINT [FK_VISIT_U_VISIT_USER]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Shows whether a place is available to use, picked, taken or not functioning at the moment.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AVAILABILITY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The type of game (poker, slot machine, black jack, etc.) that can be played on a "place".' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GAME_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "place" is a seat on a table or on a machine where a client can go to play one of the various game types the casino has to offer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PLACE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A logged-in user.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The "places" on which a certain user has played in the past
   (Potential problem to fix if time left - what counts as a visit)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VISIT'
GO
USE [master]
GO
